name: AI Code Review
on:
  pull_request:
    types: [opened, synchronize]

jobs:
  ai-review:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - uses: savita-kumari13/my-ai-review@main
        with:
          github-token: ${{ secrets.PR_REVIEW_TOKEN }}
          pr-number: ${{ github.event.pull_request.number }}
